html {
    font-family: sans-serif;
    padding: 30px;
}

.curric-item {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    width: 250px;
    margin-top: 10px;
    cursor: move;
    cursor: -webkit-grabbing;
}

#base-block-content {
    display: inline-block;
}

#base-side-nav-bar {
    display: inline-block;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
}