{% extends 'base.html' %}

{% block title %}Login to Autodidact{% endblock %}

{% block content %}
<br><br>
<form action='/create-content'>
Content Title: <input type='text' name='content_title'><br><br>
Content URL: www.<input type='text' name='content_url'><br><br>
Content Type:<br>
    Article <input type='radio' name='content_type' value='article'>
    Video <input type='radio' name='content_type' value='video'>
    Book <input type='radio' name='content_type' value='book'>
    Note <input type='radio' name='content_type' value='note'>
<input type='hidden' name='topic_id' value='{{ topic_id }}'>
<input type='submit' value='Add to Curriculum'>

</form>


{% endblock %}