<!doctype html>
<html>
<head>
  <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
  <link rel="stylesheet" href="/static/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

<div id='base-side-nav-bar'>
    <a href='/topics'>Topics</a><br><br>
    {% if 'user' in session %}
        <a href='/logout'>Logout</a>
    {% else %}
        <a href='/login'>Login</a>
    {% endif %}
</div>

<div id='base-block-content'>
{% block content %} 

BODY CONTENT GOES HERE

{% endblock %}
</div>
</body>
</html>