{% extends 'base.html' %}

<link rel="stylesheet" href="/static/stylesheet.css">

{% block title %}Curriculum{% endblock %}

{% block content %}
<h1>Curriculum</h1>

<body>

    <!--Add Content button: -->
    <br><br>
    <a href='/curriculum/{{ topic_id }}/add-content'><button type='button' id='add-content-button'> + Add Content </button></a>
    <br><br>
    <a href='/topics'><button type='button' id='back-to-topics-button'> &#8592; Back to Topics </button></a>
    <br><br>

<div id='curriculum-list'> <!--Show curriculum list: -->
    
    {% for item in curric_items %}
        <div class='curric-item'>
            <a href='https://www.{{ item.content_url }}'>{{ item.content_title }}</a><br>
        </div>
    {% endfor %}

</div>

<script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
  
<script>
    var curriculumList = document.getElementById('curriculum-list');
    var sortable = Sortable.create(curriculumList);
</script>

</body>

{% endblock %}